@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');


.hero {
    background-image: url(./../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    backdrop-filter: blur(2px) brightness(0.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
    text-transform: uppercase;
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    font-weight: 300;
    /*border-bottom: 3px solid var(--primary-solid);*/
    padding-bottom: var(--spacing-20);
}

.collection__line {
    border-bottom: 3px solid var(--primary-solid);
    content: "";
    bottom: 0;
    width: 100%;
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
    margin-top: var(--spacing-20);
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/*
.card-item {
    display: flex;
}
*/
.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__img--back {
    display: none;
}
.card-item__img--front, .card-item__img--back {
    width: 100%;
}
.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}
.card-item {
    width: 70%;
}
.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-small);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-xsmall);
}

.card-item__promo {
    font-size: 1em;
    color: var(--secondary-solid);
    font-weight: 700;
}

.grid-fixed {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
} 
/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
/*
iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}
*/
/* OVERRIDE */

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}

.glide__arrow {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .collection{
        margin: 20px 50px;
      }
  }