@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
:root {
    /*palette*/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);  
    --secondary-300: rgba(29, 132, 181, 0.3);  

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31,0.9);
    --dark-500: rgba(31, 31, 31,0.5);
    --dark-300: rgba(31, 31, 31,0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFA;
    --light-font-solid: #FFFFFF;

    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font:'Raleway', sans-serif;

    /*Font sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /*Spacing*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}


*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color:var(--dark-solid);
}
a {
    font-family: inherit;
    text-decoration: none;
    font-size: 2em;
    color: inherit;
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;

}

p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Estilo para el contenedor principal del header */
.header {
  background-color: #30343F; /* Cambia el color de fondo según tu preferencia */
  padding: 20px; /* Espacio alrededor del header */
}

/* Estilo para el contenedor del logotipo */
.logo {
  float: left; /* Logotipo en la parte izquierda */
}

/* Estilo para el contenedor de la barra de navegación */
.navbar {
  display: grid; /* Utiliza Grid Layout */
  grid-template-columns: 1fr auto; /* Divide en dos columnas, una para la navegación y otra para el logo */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Espacio entre el logo y la navegación */
}

/* Estilo para los elementos de navegación */
.nav-items {
  display: flex; /* Hace que los elementos de navegación estén en línea */
  list-style: none; /* Quita las viñetas de la lista */
  padding: 0; /* Quita el espacio interior de la lista */
}

.nav-item {
  margin-right: 20px; /* Espacio entre los elementos de navegación */
  position: relative; /* Para posicionar el icono de flecha abajo */
}

/* Estilo para el icono de flecha */
.fa-chevron-down {
  position: relative;
  top: 10%;
  transform: translateX(-50%);
  color:#FFFFFF;
  left: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Estilo para el icono del carrito */
.fa-shop {
  font-size: 24px; /* Tamaño del icono del carrito */
  color: #ffffff; /* Color del icono del carrito */
}

/* Estilos de texto para los elementos de navegación */
.nav-item a {
  text-decoration: none; /* Quita subrayado de enlaces */
  color: #FFF !important;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Estilo para el enlace del logotipo */
.logo a {
  text-decoration: none; /* Quita subrayado de enlace */
}

/* Estilos para el hover (cambio al pasar el mouse) */
.nav-item a:hover {
  color: #fd0404; /* Cambia el color al pasar el mouse */
}


/*Estilos card item-producto*/

.BabyYoda11 {
  width: 550px;
  height: 400px;
  margin-left: 95px;
}

.contenido {
  flex-grow: 1;
  padding-left: 20px;
  margin-left: 125px;
  margin-right: 110px;
}

.categoria-item {
  color: var(--Gray-1, #333);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

.titulo {
  color: #111;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.descripcion {
  color: var(--Gray-1, #333);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.precio {
  color: #333;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.contador {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.agregar-al-carrito {
  background: #F33;
  width: 181px;
  height: 37.91px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.ver-metodos-pago {
  color: #1D84B5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.item-producto {
  display: flex;
  align-items: center;
  padding: 40px; /* Aumentamos el padding */
  border: 1px solid #ccc;
}

/* Estilos para los botones "+" y "-" */
.contador-btn {
  background: #F33;
  width: 40px; /* Aumentamos el ancho */
  height: 40px; /* Aumentamos el alto */
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* Centramos verticalmente */
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.contador-btn2 {
width: 18px;
height: 16px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: #4F4F4F;
color: #FFF;
margin: 2px;
}

.btn-{
display: flex;
flex-direction: column; /* Cambiamos la dirección del flex a columna */
align-items: flex-end; /* Alineamos los elementos a la derecha */
}
/* Estilos para el input del contador */
.contador-input {
  width: 65px;
  height: 50px;
  text-align: center !important;
  font-size: 18px;
  border: 1px solid #ccc;
  margin-left: 10px; /* Aumentamos la separación entre el input y los botones */
  width: 105.467px;
  height: 35.241px;
  flex-shrink: 0;
}

.News {
  width: 1218.25px;
  height: 623px;
  left: 110px;
  top: 830px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 358.57px);
  grid-gap: 20px; /* Espaciado uniforme entre las tarjetas */
}

.ProductosRelacionados {
  color: #111;
  font-family: Raleway;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 35PX;
  margin-left: 110px;
}

.Card {
  width: 352px;
  height: 512px;
  flex-shrink: 0;
  position: relative;
  margin-left: 70px;
}

.Nuevo {
  position: absolute;
  width: 95.754px;
  height: 30px;
  flex-shrink: 0;
  background: #F33;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  top: 0;
  right: 0;
}

.BabyYoda111 {
  width: 100%; /* La imagen ocupará todo el ancho de la tarjeta */
  height: auto; /* La altura se ajustará automáticamente */
  flex-shrink: 0;

}

.categoria-item {
  color: var(--Gray-1, #333);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  color: #111;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: var(--Gray-1, #333);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.ver-metodos-pagob {
  color: #1D84B5;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
