/*Estilos card item-producto*/

.BabyYoda11 {
    width: 550px;
    height: 400px;
    margin-left: 95px;
  }
  
  .contenido {
    flex-grow: 1;
    padding-left: 20px;
    margin-left: 125px;
    margin-right: 110px;
  }
  
  .categoria-item {
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
  }
  
  .titulo {
    color: #111;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }
  
  .descripcion {
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
  }
  
  .precio {
    color: #333;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
  }
  
  .contador {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .agregar-al-carrito {
    background: #F33;
    width: 181px;
    height: 37.91px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .ver-metodos-pago {
    color: #1D84B5;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
  }
  
  .item-producto {
    display: flex;
    align-items: center;
    padding: 40px; /* Aumentamos el padding */
    border: 1px solid #ccc;
  }
  
  /* Estilos para los botones "+" y "-" */
  .contador-btn {
    background: #F33;
    width: 40px; /* Aumentamos el ancho */
    height: 40px; /* Aumentamos el alto */
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* Centramos verticalmente */
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .contador-btn2 {
  width: 18px;
  height: 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #4F4F4F;
  color: #FFF;
  margin: 2px;
  }
  
  .btn-{
  display: flex;
  flex-direction: column; /* Cambiamos la dirección del flex a columna */
  align-items: flex-end; /* Alineamos los elementos a la derecha */
  }

  /* Estilos para el input del contador */
  .contador-input {
    width: 65px;
    height: 50px;
    text-align: center !important;
    font-size: 18px;
    border: 1px solid #ccc;
    margin-left: 10px; /* Aumentamos la separación entre el input y los botones */
    width: 105.467px;
    height: 35.241px;
    flex-shrink: 0;
  }
  
  .News {
    height: 623px;
    left: 110px;
    top: 830px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 358.57px);
    grid-gap: 20px; /* Espaciado uniforme entre las tarjetas */
  }
  
  .ProductosRelacionados {
    color: #111;
    font-family: Raleway;
    font-size: 46px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 35PX;
    margin-left: 110px;
  }
  
  .Card {
    width: 352px;
    height: 512px;
    flex-shrink: 0;
    position: relative;
    margin-left: 70px;
  }
  
  .Nuevo {
    position: absolute;
    width: 95.754px;
    height: 30px;
    flex-shrink: 0;
    background: #F33;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    top: 0;
    right: 0;
  }
  
  .BabyYoda111 {
    width: 100%; /* La imagen ocupará todo el ancho de la tarjeta */
    height: auto; /* La altura se ajustará automáticamente */
    flex-shrink: 0;
  
  }
  
  .categoria-item {
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  h2 {
    color: #111;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  h3 {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  a {
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  
  .ver-metodos-pagob {
    color: #1D84B5;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
  }

  /* FOOTER */

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);

}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}
